<div class="container perks">
  <div class="container-fluid">
    <div class="row">
      <div class="perks-heading">
        <h1>Perks 1</h1>
        <div class="dotted-line"></div>
      </div>
      <div class="col-md-12 content">
        <div class="row thumbnails">
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Burts Bees</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("brooklyn_boulders.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Brooklyn Boulders</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Burts Bees</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
           <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Burts Bees</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("brooklyn_boulders.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Brooklyn Boulders</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Burts Bees</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
           <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Burts Bees</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("brooklyn_boulders.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Brooklyn Boulders</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3>Burts Bees</h3>
                <h5>Up to 50% Off</h5>
                <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

