 <!-- Carousel
    ================================================== -->
     <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
<!--       <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner">
        <div class="item active">
          <img alt: "Pathway to Sustainability" title: "Pathway to Sustainability" class='img-landing'></img>
          <div class="container">
            <div class="carousel-caption">
              <%= image_tag('cpp_logo_landing_yellow.png', :alt => "Clean Power Perks", :title => "Clean Power Perks", :class=>'img-responsive landing-logo')  %>  
              <h1>Save Money by Buying Clean Energy</h1>
              <p>We reward people and businesses for consciously choosing clean energy</p>
       <!--        <p><a class="btn btn-lg btn-primary btn-benefits" href="#" role="button">Learn More</a> -->
              <a class="btn btn-lg" id='btn-sign-up' href="#" role="button">Get Perks Now &raquo;</a>
              <h4>Existing clean energy customers get free access!</h4>
            </div>
          </div>
          <a class="left carousel-control"></a>
          <a class="right carousel-control"></a>
    </div>
  </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

 

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-5">
          <h2 class="featurette-heading" id="featurette-sub-heading">Perk of the Month</h2>
          <%= image_tag("prana.jpeg", :class=>'img-responsive featurette-image') %>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-7">
          <h2 class="featurette-heading" id="featurette-sub-heading">If you're going to shop,<br><span class="text-muted"> #shopclean.</span></h2>
          <p class="lead">A CleanPowerPerks initiative - green businesses and perks.</p>
         <p><a class="btn btn-links" href="#" role="button">Learn More &raquo;</a></p>
        </div>
      </div><!-- /.row -->

      <hr class="featurette-divider">
     <!-- Three columns of text below the carousel -->
      <div class="row featurette">
        <h2 class="featurette-heading">How It Works</h2>

        <div class="col-lg-4">
          <i class="icon-fa-sun"></i>
          <h2>1 - Buy Clean Energy</h2>
          <p>Easy access to a wide range of providers</p>
          <p><a class="btn btn-links-2" href="#" role="button">Sign up now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="icon-fa-gift"></i>
          <h2>2 - Browse Perks</h2>
          <p>Green businesses, and awesome deals.</p>
          <p><a class="btn btn-links-2" href="#" role="button">Browse Perks &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4"> 
          <i class="icon-fa-money"></i> 
          <h2>3 - Save $$$</h2>
          <p>Save money and our planet at the same time.</p>
          <p><a class="btn btn-links-2" href="#" role="button">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

     <div class="row featurette">
        <h2 class="featurette-heading">Featured Perks</h2>
        <div class="col-md-3">
          <%= image_tag("cpp_logo_landing_yellow.png", :class=>'img-responsive featurette-image') %>
           <p><a class="btn btn-links" href="#" role="button">Perk 1 &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <%= image_tag("cpp_logo_landing_yellow.png", :class=>'img-responsive featurette-image') %>
           <p><a class="btn btn-links" href="#" role="button">Perk 2 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3">
          <%= image_tag("cpp_logo_landing_yellow.png", :class=>'img-responsive featurette-image') %>
           <p><a class="btn btn-links" href="#" role="button">Perk 3 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3">
          <%= image_tag("cpp_logo_landing_yellow.png", :class=>'img-responsive featurette-image') %>
           <p><a class="btn btn-links" href="#" role="button">Perk 4 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">
      <!-- <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/windfarm.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Buy clean energy now. <span class="text-muted">Doing good made convenient. </span></h2>
          <p class="lead">Easy access to a wide range of energy providers.</p>
          <p><a class="btn btn-links" href="#" role="button">Buy Now &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Support Our Planet. <span class="text-muted"> All businesses should help.</span></h2>
          <p class="lead">Reach like-minded consumers and promote your brand.</p>
          <p><a class="btn btn-links" href="#" role="button">Join us &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/customer.png" alt="Generic placeholder image">
        </div>
      </div>
 --><!-- 
      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->