<!DOCTYPE html>
<html>
<head>
    <title>Clean Power Perks</title>
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"           content="Jonathan Lau"/>
    <meta name="designer"         content="Jonathan Lau"/>
    <meta name="copyright"          content="Copyright Clean Power Perks &copy;2013"/>
    <%= favicon_link_tag 'favicon.png' %>
    <%= display_meta_tags :site => 'Clean Power Perks' %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pompiere">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
    <link href="//cloud.typography.com/7222252/625882/css/fonts.css" media="all" rel="stylesheet" />
</head>
<body>
      <div class="container">
        <div class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to(image_tag("cpp_logo_navbar_yellow.png", :alt => "Clean Power Perks", :title => "Clean Power Perks", :width => 50), "/", :class=>'navbar-logo') %>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#about">How It Works</a></li>
                <li><a href="#about">Get Perks</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Perks <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">For Businesses <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">For Energy Providers</a></li>
                    <li><a href="#">For Consumer Brands</a></li>
                  </ul>
                </li>
                <li><a href="#about">Contact</a></li>
              </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a class="navbar-button"><btn class="btn btn-danger" id='' href="#" role="button">Sign Up</btn></a></li>
                  <li><a class="navbar-button"><btn class="btn btn-default" id='' href="#" role="button">Log In</btn></a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
	<%= yield %> 
	<footer>
	<div class="footer" id="footer">
	    <footer class="container">
        <div class="row">
  	      <div class="col-md-4">
          <ul>
  	      <li><h3>CleanPowerPerks</h3></li>
  	      <li><a href="#">Mission Statement</a></li>
  	      <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Help</a></li>
  	      </ul>
          </div>
          <div class="col-md-4">
            <ul>
            <li><h3>Let's keep in touch</h3></li>
            <li><p>Contact us at <a href="mailto:info@cleanpowerperks.com" class="email">info@cleanpowerperks.com</a><br>or visit us at:</p></li>
            <li>
              <a class="icon icon-fa-twitter"></a>
              <a class="icon icon-fa-facebook"></a>
              <a class="icon icon-fa-linkedin"></a>
            </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
            <li><h3>Interested in receiving updates on latest perks and deals?</h3></li>
            <li><a class='btn btn-danger btn-medium' id="sign-up-footer">Sign Up Now &raquo;</a></li>
            <li>
              <h5>Copyright © 2014 CleanPowerPerks. All rights reserved.</h5>
            </li>
            </ul>
          </div>
        </div>
	    </footer>
	</div>
	</footer>
</body>
</html>
