<!DOCTYPE html>
<html>
<head>
    <title>HumanVoiceBank</title>
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"           content="Jonathan Lau"/>
    <meta name="designer"         content="Jonathan Lau"/>
    <meta name="copyright"          content="Copyright Clean Power Perks &copy;2013"/>
    <%= favicon_link_tag 'hvb-icon.svg' %>
    <%= display_meta_tags :site => 'Clean Power Perks' %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pompiere">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700italic,700|Titillium+Web:400,600,400italic,600italic,700,700italic" media="all" />
<body>

	<%= yield %> 
	
</body>
</html>
